<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616624459091-j5528ais2i1sr76cqn9nqbkcdgkiiahn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616624459091-j5528ais2i1sr76cqn9nqbkcdgkiiahn</string>
	<key>API_KEY</key>
	<string>AIzaSyDCF2dRZjoaG1KQgG1BIwpWF-BwCw1Ddpg</string>
	<key>GCM_SENDER_ID</key>
	<string>616624459091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apexInfoWeb</string>
	<key>PROJECT_ID</key>
	<string>apex-information-web</string>
	<key>STORAGE_BUCKET</key>
	<string>apex-information-web.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616624459091:ios:fda834ef0dc7d38b9165a6</string>
</dict>
</plist>